POSTGRES_HOST=postgres
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=cripto_db
POSTGRES_PORT=5432
POSTGRES_PORT_HOST=5433

ADMINER_PORT_HOST=8080
DBT_PORT_HOST=8080

AIRFLOW_UID=50000
AIRFLOW_PORT_HOST=8082
